<html>
  <head>
    <title>Ascii Art Attack</title>
  </head>
  <body>
    <h2>Ascii Art Attack</h2>
    <form class ="" action="index.html" method="POST">
      <label>Insert text:</label>
      <br>
      <textarea id="text" name="text" rows="4" cols="50"></textarea>
      <p>Choose your selected font:</p>

      <div>
        <input type="radio" id="Shadow" name="font" value="Shadow"
               checked>
        <label for="Shadow">Shadow</label>
      </div>
      
      <div>
        <input type="radio" id="Standard" name="font" value="Standard">
        <label for="Standard">Standard</label>
      </div>
      
      <div>
        <input type="radio" id="Thinkertoy" name="font" value="Thinkertoy">
        <label for="Thinkertoy">Thinkertoy</label>
      </div>
      <br>
      <button>Submit</button>
    </form>
  </body>
</html>